{% extends "base.html" %}
{% block cssfile %}<link href="{{url_for('static', filename='styles/lightbox.css')}}" rel="stylesheet" />{% endblock %}
{% block title %}Photo - Portrait{% endblock %}
{% block navphoto %}active{% endblock %}
{% block content %}
    <div class="container-fluid">
      <div class="jumbotron bg-white text-center">
          <h1>Portrait</h1>
      </div>
    </div>

      <div class="row-gallery">
        <div class="column-gallery">
        {% for portrait_pic in portrait_pics[::4] %}
            <a href="{{url_for('static', filename='pics/portrait_pics/' + portrait_pic)}}" data-lightbox="portrait">
              <img src="{{url_for('static', filename='pics/portrait_pics/' + portrait_pic)}}" alt="portrait picture">
            </a>
        {% endfor %}
        </div>

        <div class="column-gallery">
        {% for portrait_pic in portrait_pics[1::4] %}
            <a href="{{url_for('static', filename='pics/portrait_pics/' + portrait_pic)}}" data-lightbox="portrait">
              <img src="{{url_for('static', filename='pics/portrait_pics/' + portrait_pic)}}" alt="portrait picture">
            </a>
        {% endfor %}
        </div>

        <div class="column-gallery">
        {% for portrait_pic in portrait_pics[2::4] %}
            <a href="{{url_for('static', filename='pics/portrait_pics/' + portrait_pic)}}" data-lightbox="portrait">
              <img src="{{url_for('static', filename='pics/portrait_pics/' + portrait_pic)}}" alt="portrait picture">
            </a>
        {% endfor %}
        </div>

        <div class="column-gallery">
        {% for portrait_pic in portrait_pics[3::4] %}
            <a href="{{url_for('static', filename='pics/portrait_pics/' + portrait_pic)}}" data-lightbox="portrait">
              <img src="{{url_for('static', filename='pics/portrait_pics/' + portrait_pic)}}" alt="portrait picture">
            </a>
        {% endfor %}
        </div>

      </div>

    <script src="{{url_for('static',filename='lightbox-plus-jquery.js')}}"></script>
{% endblock %}
